<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedidos-main"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="datos.pedido">Pedidos CCFN</ion-title>
    <ion-title *ngIf="!datos.pedido">Cotizaciones CCFN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-searchbar placeholder="Buscar Cliente" debounce="500" (ionInput)="searchContacts($event);" clear-icon>
    </ion-searchbar>
    <ion-button (click)="scanQr()">QR</ion-button>
  </ion-item>
  <ion-list *ngIf="contactListsearchBar">
    <ion-item color="light" *ngFor="let contact of contactListsearchBar" (click)="addContact(contact.id)" detail>
      {{contact.nombre_reducido}}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="contactOrder">
    <ion-card color="light">
      <img src="../../../assets/img/placeholder-image.png">
      <ion-card-header>
        <ion-card-subtitle>{{contactOrder.full_name}}</ion-card-subtitle>
        <ion-card-title>{{contactOrder.nombre_reducido}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Codigo Cliente: {{contactOrder.codigo_protevs}}</p>
        <p>Tienda: {{contactOrder.tienda}}</p>
        <p>Direccion: {{contactOrder.street}} {{contactOrder.colonia}}, {{contactOrder.city}} {{contactOrder.state}}
          {{contactOrder.zip_code}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Sucursal</ion-label>
        <ion-select [(ngModel)]="sucursal_id" okText="Aceptar" cancelText="Cancelar" name="sucursal_id"
          placeholder="Select One" (ionChange)="cambioSucursal($event)">
          <ion-select-option *ngFor="let suc of sucursalList" [value]="suc.id">
            {{suc.nombre_sucursal}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-searchbar #clientSearchBar placeholder="Buscar Producto" (ionInput)="searchProducts($event);"></ion-searchbar>
  </ion-item>
  <ion-list *ngIf="productListsearchBar">
    <ion-item color="light" *ngFor="let product of productListsearchBar" (click)="addProduct(product.id)" detail>
      {{product.name}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-row *ngFor="let product of productOrder">
      <ion-col size="3" size-lg>
        <ion-thumbnail>
          <img src="../../../assets/img/placeholder-product.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9" size-lg size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{product.product_codigo}}
              <ion-button style="float: right;" color="light" (click)="eliminarProducto(product)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-card-subtitle>
            <ion-card-title>
              {{product.product_name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Price: {{product.product_price}}<br>
            stock: {{product.product_stock}}<br>
            Cantidad:
            <ion-icon style="font-size: 20px;" name="remove-circle" (click)="decrement(product)"></ion-icon>
            {{product.quantity}}
            <ion-icon style="font-size: 20px;" name="add-circle" (click)="increment(product)"></ion-icon>
            Subtotal: ${{product.subtotal.toFixed(2)}}
            Impuestos: ${{product.impuestos_total.toFixed(2)}}
            Total: ${{product.total.toFixed(2)}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title *ngIf="!dolaresCard">Precio en Pesos</ion-card-title>
          <ion-card-title *ngIf="dolaresCard">Precio en Dolares</ion-card-title>
          <ion-button tappable (click)="dolaresCard = !dolaresCard" >
            <div *ngIf="!dolaresCard">
              Cambiar para dolares
            </div>
            <div *ngIf="dolaresCard">
              Cambiar para pesos
            </div>
          </ion-button>
        </ion-card-header>
        <ion-card-content *ngIf="!dolaresCard">
          <ion-list>
            <ion-item>
              <h1>SubTotal: ${{subtotal.toFixed(2)}}</h1>
            </ion-item>
            <ion-item>
              <h1>Impuestos: ${{impuestos.toFixed(2)}}</h1>
            </ion-item>
            <ion-item>
              <h1>Total: ${{total.toFixed(2)}}</h1>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content *ngIf="dolaresCard">
          <ion-list>
            <ion-item>
              <h1>SubTotalDolares: ${{subtotalDolares.toFixed(2)}}</h1>
            </ion-item>
            <ion-item>
              <h1>ImpuestosDolares: ${{impuestosDolares.toFixed(2)}}</h1>
            </ion-item>
            <ion-item>
              <h1>TotalDolares: ${{totalDolares.toFixed(2)}}</h1>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </ion-item>
    <ion-button [disabled]="!contactOrder || !productOrder?.length " expand="block" class="round" (click)="entregaPedido()">Continuar</ion-button>
  </ion-list>
</ion-content>