<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedidos-main"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="datos.pedido">Pedidos CCFN</ion-title>
    <ion-title *ngIf="!datos.pedido">Cotizaciones CCFN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-searchbar #clientSearchBar placeholder="Buscar Cliente" debounce="500" (ionInput)="searchContacts($event);"
      clear-icon></ion-searchbar>
    <ion-button (click)="scanQr()">QR</ion-button>
  </ion-item>
  <ion-list *ngIf="contactListsearchBar?.length">
    <ion-virtual-scroll [items]="contactListsearchBar">
      <ion-item *virtualItem="let contact" color="light" (click)="addContact(contact)" detail>
        {{contact.nombre_reducido}}
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <ion-list *ngIf="datos.contact">
    <ion-card color="light">
      <div *ngIf="datos.contact.img">
        <ion-img style="height: 180px;width: auto;" [src]="getPath(datos.contact.img)"
          (click)="showImage(datos.contact.img)"></ion-img>
      </div>
      <div *ngIf="datos.contact.img==undefined">
        <img src="../../../assets/img/placeholder-image.png">
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{datos.contact.full_name}}</ion-card-subtitle>
        <ion-card-title>{{datos.contact.nombre_reducido}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Codigo Cliente: {{datos.contact.codigo_protevs}}</p>
        <p>Tienda: {{datos.contact.tienda}}</p>
        <p>Direccion: {{datos.contact.street}} {{datos.contact.colonia}}, {{datos.contact.city}} {{datos.contact.state}}
          {{datos.contact.zip_code}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Sucursal</ion-label>
        <ion-select [(ngModel)]="datos.sucursal_id" okText="Aceptar" cancelText="Cancelar" name="sucursal_id"
          placeholder="Select One" (ionChange)="cambioSucursal($event)">
          <ion-select-option *ngFor="let suc of sucursalList" [value]="suc.id">
            {{suc.nombre_sucursal}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-searchbar #productSearchBar placeholder="Buscar Producto" (ionInput)="searchProducts($event);"></ion-searchbar>
  </ion-item>
  <ion-list *ngIf="productListsearchBar?.length">
    <ion-virtual-scroll [items]="productListsearchBar">
      <ion-item *virtualItem="let product" color="light" (click)="addProduct(product)" detail>
        {{product.name}}
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <ion-list>
    <ion-row *ngFor="let product of datos.products">
      <ion-col size="3" size-lg>
        <ion-thumbnail>
          <img src="../../../assets/img/placeholder-product.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9" size-lg size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{product.codigoProtevs}}
              <ion-icon name="trash" style="font-size: 30px;float: right;" (click)="eliminarProducto(product)">
              </ion-icon>
            </ion-card-subtitle>
            <ion-card-title>
              {{product.product_name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon style="font-size: 40px;float: right;" name="add-circle" (click)="increment(product)"></ion-icon>
            <ion-icon style="font-size: 40px;float: right;" name="remove-circle" (click)="decrement(product)">
            </ion-icon>
            Price: {{product.price}} {{product.moneda}}<br>
            Stock: {{product.product_stock}}<br>
            Cantidad:
            <ion-item>
              <ion-input type="number" [(ngModel)]="product.quantity" (ngModelChange)="quantityChange(product)"
                (ionBlur)="productQuantity(product)"></ion-input> {{product.unidad_medida}}
            </ion-item>
            <ion-item *ngIf="product.conv!=0 && product.conv!=1">
              <ion-input type="number" [(ngModel)]="product.quantity_dos" (ngModelChange)="quantity2Change(product)"
                (ionBlur)="productQuantity(product)"></ion-input> {{product.unidad_medida_dos}}
            </ion-item>
            Subtotal: ${{product.subtotal.toFixed(2)}} {{product.pago_tipo}}<br>
            Impuestos: ${{product.impuestos_total.toFixed(2)}} {{product.pago_tipo}}<br>
            Total: ${{product.total.toFixed(2)}} {{product.pago_tipo}}<br>
            <ion-radio-group [(ngModel)]="product.pago_tipo" (ngModelChange)="productChange(product)">
              <ion-list-header>
                <ion-label>Pago</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Pesos</ion-label>
                <ion-radio slot="start" value="MN" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Dolares</ion-label>
                <ion-radio slot="start" value="DL"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="total">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Precio en Pesos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <h1>SubTotal: ${{subtotal.toFixed(2)}}</h1>
              </ion-item>
              <ion-item>
                <h1>Impuestos: ${{impuestos.toFixed(2)}}</h1>
              </ion-item>
              <ion-item>
                <h1>Total: ${{total.toFixed(2)}}</h1>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="totalDolares">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Precio en Dolares</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <h1>SubTotalDolares: ${{subtotalDolares.toFixed(2)}}</h1>
              </ion-item>
              <ion-item>
                <h1>ImpuestosDolares: ${{impuestosDolares.toFixed(2)}}</h1>
              </ion-item>
              <ion-item>
                <h1>TotalDolares: ${{totalDolares.toFixed(2)}}</h1>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-button [disabled]="!datos.contact || !datos.products?.length " expand="block" style="height: 50px"
      (click)="entregaPedido()">Continuar</ion-button>
  </ion-list>
</ion-content>