<ion-header translucent>
    <ion-toolbar style="--background: #1B1BFC;
    color: #ffffff; ">
        <ion-title>Detalle Producto</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Aceptar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-col size="9" size-lg size="12" size-sm>
        <ion-card style="border-radius: 30px">
            <ion-card-header style="border-bottom: 1px solid">
                <ion-card-subtitle>
                    Codigo Protevs: {{product.codigoProtevs}}
                </ion-card-subtitle>
                <ion-card-title>
                    Descripcion: {{product.product_name}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-icon style="font-size: 40px;float: right;" name="add-circle" (click)="increment(product)">
                </ion-icon>
                <ion-icon style="font-size: 40px;float: right;" name="remove-circle" (click)="decrement(product)">
                </ion-icon>
                Precio: {{product.price}} {{product.moneda}}<br>
                Stock: {{product.product_stock}}<br>
                Cantidad:
                <ion-item style="border: 1px solid #000000; border-radius: 3px;" lines="none">
                    <ion-input type="number" [(ngModel)]="product.quantity" (ngModelChange)="quantityChange(product)"
                        (ionBlur)="productQuantity(product)"></ion-input> {{product.unidad_medida}}
                </ion-item>
                <ion-item *ngIf="product.conv!=0 && product.conv!=1"
                    style="border: 1px solid #000000; border-radius: 3px;" lines="none">
                    <ion-input type="number" [(ngModel)]="product.quantity_dos"
                        (ngModelChange)="quantityChange2(product)" (ionBlur)="productQuantity(product)"></ion-input>
                    {{product.unidad_medida_dos}}
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-col>

    <h6>Tipo de Moneda</h6>
    <div *ngIf="product.moneda=='DL'" style="border: 1px solid #000000; border-radius: 3px;">
        <ion-radio-group  [(ngModel)]="product.pago_tipo"
            (ngModelChange)="productChange(product)">
            <ion-item>
                <ion-label>Pesos</ion-label>
                <ion-radio slot="start" value="MN" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Dolares</ion-label>
                <ion-radio slot="start" value="DL"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </div>

    <h6>Totales</h6>

    <div style="border: 1px solid #000000; border-radius: 3px;">
        <ion-item lines="none">
            Subtotal: ${{product.subtotal.toFixed(2)}} {{product.pago_tipo}}
        </ion-item>
        <ion-item lines="none">
            Impuestos: ${{product.impuestos_total.toFixed(2)}} {{product.pago_tipo}}
        </ion-item>
        <ion-item lines="none" style="border-top:1px solid #000000; color: green">
            Total: ${{product.total.toFixed(2)}} {{product.pago_tipo}}
        </ion-item>
    </div>

</ion-content>