
  #login{
   
      --background: url(../../../assets/img/fondo.png) no-repeat center;
    
      
      h1{
          font-size: 52px;
          margin-top:50px;
          
      }

      .item {
        border-color: black;
      	background-color: black;
      	
      }


      #formulario{
        margin-top: 300px;
      }
      
  }

