<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="generate-pedido"></ion-back-button>
        </ion-buttons>
    <ion-title>Pedidos CCFN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
     <h1>Direccion de Envio</h1>
      <ion-card>
        <img src="../../../assets/img/card-img.jpg">
        <ion-card-header>
          <ion-card-title>
            {{datos.contact.full_name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Calle: {{datos.contact.street}}<br>
          Colonia: {{datos.contact.colonia}}<br>
          Cuidad: {{datos.contact.city}} <br>
          Estado: {{datos.contact.state}} <br>
          Pais: {{datos.contact.country}} <br>
          Codigo Postal: {{datos.contact.zip_code}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="map">
    <ion-col>
      <div id="map_canvas" style="height: 650px;width: 650px;display:block;margin: 0 auto;"></div>
    </ion-col>
  </ion-row>
  <ion-button expand="block" class="round" (click)="navMetodoPedidos()">Continuar</ion-button>
</ion-content>