<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="generate-pedido"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="datos.pedido">Pedidos CCFN</ion-title>
    <ion-title *ngIf="!datos.pedido">Cotizaciones CCFN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
     <h1>Direccion de Envio</h1>
      <ion-card>
        <div *ngIf="datos.contact.img">
          <ion-img style="height: 180px;width: auto;" [src]="getPath(datos.contact.img)" (click)="showImage(datos.contact.img)"></ion-img>
        </div>
        <div *ngIf="datos.contact.img==undefined">
          <img src="../../../assets/img/placeholder-image.png">
        </div>
        <ion-card-header>
          <ion-card-title>
            {{datos.contact.full_name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Calle: {{datos.contact.street}}<br>
          Colonia: {{datos.contact.colonia}}<br>
          Cuidad: {{datos.contact.city}} <br>
          Estado: {{datos.contact.state}} <br>
          Pais: {{datos.contact.country}} <br>
          Codigo Postal: {{datos.contact.zip_code}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="map">
    <ion-col>
      <div [hidden]="!datos.contact.longitud"  id="map_canvas" style="height: 650px;width: 650px;display:block;margin: 0 auto;"></div>
      <div [hidden]="datos.contact.longitud">
        <ion-button size="default" (click)="updateGeolocation(datos.contact)">
          Agregar Geolocalizacion
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-button [hidden]="!datos.contact.longitud" expand="block" style="height: 50px" (click)="navMetodoPedidos()">Continuar</ion-button>
</ion-content>