<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="generate-pedido"></ion-back-button>
        </ion-buttons>
    <ion-title>Pedidos CCFN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
     <h1>Direccion de Envio</h1>
      <ion-item *ngFor="let contacto of contact">
        <ion-card>
          <img src="../../../assets/img/card-img.jpg">
          <ion-card-header>
            <ion-card-title>
              {{contacto.contact_name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Calle: {{contacto.contact_street}}<br>
            Colonia: {{contacto.contact_colonia}}<br>
            Cuidad: {{contacto.contact_city}} <br>
            Estado: {{contacto.contact_state}} <br>
            Pais: {{contacto.contact_country}} <br>
            Codigo Postal: {{contacto.contact_zipcode}}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="map">
    <ion-col>
      <div id="map_canvas" style="height: 650px;width: 650px;display:block;margin: 0 auto;"></div>
    </ion-col>
  </ion-row>
  <ion-button expand="block" class="round" (click)="navMetodoPedidos()">Continuar</ion-button>
</ion-content>