<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top: 5%;">
    <ion-row>
      <ion-col text-center>
        <ion-button color="light" [disabled]="!checkInStatus" routerLink="/contacts">
          <img src="../../../assets/icon/clientes.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button  color="light" [disabled]="!checkInStatus" routerLink="/cotizaciones-main">
          <img src="../../../assets/icon/cotizaciones.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button  color="light" [disabled]="!checkInStatus" routerLink="/pedidos-main">
          <img src="../../../assets/icon/pedidos.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="light" [disabled]="!checkInStatus" routerLink="/agenda">
          <img src="../../../assets/icon/agenda.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button color="light" [disabled]="!checkInStatus">
          <img src="../../../assets/icon/entrega.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="light" [disabled]="!checkInStatus" routerLink="/products" >
          <img src="../../../assets/icon/productos.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button  color="light" [hidden]="checkInStatus" (click)="checkIn()">
          <img src="../../../assets/icon/check-in.png" alt="">
        </ion-button>
        <ion-button  color="light" [hidden]="!checkInStatus" (click)="checkOut()">
          <img src="../../../assets/icon/check-out.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="light" [disabled]="!checkInStatus">
          <img src="../../../assets/icon/cobranza.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>