
  .round{
    width: 360px;
    height: 250px;
  
}

.menu-central{
  margin-top: 100px;
}



ion-content{
  --background: url(../../../assets/img/fondo.png) no-repeat center;
}

ion-button ion-icon{
  font-size:82px;
}