<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width:100%;" src="../../../assets/icon/market.png" alt="">
  <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-searchbar color="light" (ionInput)="searchContacts($event);"></ion-searchbar>
      </ion-toolbar>
    </ion-col>
  </ion-row>
  <ion-virtual-scroll [items]="list">
    <ion-item *virtualItem="let contact">
      <ion-card color="light">
        <div *ngIf="contact.img">
          <ion-img style="height: 180px;width: auto;" [src]="getPath(contact.img)" (click)="showImage(contact.img)">
          </ion-img>
        </div>
        <div *ngIf="contact.img==undefined">
          <img src="../../../assets/img/placeholder-image.png">
        </div>
        <ion-card-header>
          <ion-card-subtitle>{{contact.full_name}}</ion-card-subtitle>
          <ion-card-title>{{contact.nombre_reducido}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Codigo Cliente: {{contact.codigo_protevs}}</p>
          <p>Tienda: {{contact.tienda}}</p>
          <p>Direccion: {{contact.street}} {{contact.colonia}}, {{contact.city}} {{contact.state}}
            {{contact.zip_code}}
          </p>
          <ion-button [hidden]="contact.longitud" size="default" (click)="updateGeolocation(contact)">
            Agregar Geolocalizacion
          </ion-button>
          <ion-icon float-right name="image" style="font-size: 35px;" (click)="addPhoto(contact.id)"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>