ion-content {
    --overflow: hidden;
}

ion-col {
    text-align: center;
}

ion-content {
    background-image: url('../../../assets/icon/City.png');
    background-repeat: no-repeat;
    background-size: cover;
  }